[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-marshmallow = "*"
flask-restful = "*"
flask-cors = "*"
flask-bcrypt = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
datetime = "*"
faker = "*"
ipdb = "*"
python-dotenv = "*"
gunicorn = "*"
psycopg2-binary = "*"
sendgrid = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.13"
